<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvDknUGOJIJBP4J04jqhD6k_BB0L1yG-M</string>
	<key>GCM_SENDER_ID</key>
	<string>988495546387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teatime.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tea-time-118d6</string>
	<key>STORAGE_BUCKET</key>
	<string>tea-time-118d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988495546387:ios:cf1653282017c1033b97e6</string>
</dict>
</plist>